<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Endometriosis</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/scrolling-nav.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-success bg-white fixed-top" id="mainNav" style="border-bottom: 2px solid #0a8fab">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/"><img src="static/img/spirit.png" width="17.8%"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>     

    <section id="faq">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2 class="font-weight-light text-dark" style="font-size: 50px; text-align: left; line-height: 200%">Endometriosis</h2>
      <button class="accordion font-weight-light" style="font-size: 17px">What is endometriosis?</button>
      <div class="panel">
        <p class=lead style="color:black; font-size: 14px; line-height: 190%">Endometriosis is a condition in which tissue that normally lines the uterus grows outside of the uterus. This tissue, which does not belong outside the uterus, becomes trapped and can cycle with your period, bleed, and cause symptoms like pain. It can also cause irritation that can lead to scarring and “adhesions,” which are abnormal bands of tissue that can cause organs to stick to each other. Endometriosis can lead to trouble getting pregnant.</p>
      </div>
      <button class="accordion font-weight-light" style="font-size: 17px">What causes endometriosis?</button>
			<div class="panel">
			  <p class=lead style="color:black; font-size: 14px; line-height: 190%">The cause of endometriosis is not known. You could ask your doctor or the study doctor about this.</p>
			</div>
			<button class="accordion font-weight-light" style="font-size: 17px">What is the best test for endometriosis?</button>
			<div class="panel">
			  <p class=lead style="color:black; font-size: 14px; line-height: 190%">There is no simple test for endometriosis. A doctor or nurse may suspect that you have endometriosis if you have painful menstruation (“your monthly cycle”). The only way to diagnose endometriosis is for a doctor to do surgery. This surgery is typically a “laparoscopy,” a surgery in which a doctor makes a small cut in the belly and inserts a tube with a camera. This allows the doctor to see, and sometimes remove, endometriosis tissue.</p>
			</div>
			<button class="accordion font-weight-light" style="font-size: 17px">What treatments are there for endometriosis?</button>
			<div class="panel">
			  <p class=lead style="color:black; font-size: 14px; line-height: 190%">Treatment options include oral medicines, injectable medicines, and surgery, all of which have pros and cons.</p>
			</div>
          </div>  
        </div>
      </div>
    </section>      

    <!-- Footer -->
    <footer class="py-5" style="background-color: #21252917">
      <center>
      <div class="container">
        <img src="static/img/myovant.png" style="padding-top: 30px">
        <div class="text-center">
        <blockquote class="blockquote text-dark font-weight-light" style = "font-size:15px">
        <p class="mb-1">The site is intended for residents of the United States.</p>
        <p>Copyright &copy; 2017 Myovant Sciences, Inc. All rights reserved.</p>
    </blockquote>
    </div>
    <a href="https://static1.squarespace.com/static/5988d80737c581a364624098/t/5b6a0062aa4a993b18cb693b/1533673571298/myovant+privacy+statement.pdf" target="_blank"><p class="mb-1 text-dark font-weight-light">Privacy</p></a>
      </div>
      </center>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="static/js/scrolling-nav.js"></script>

    <script>
		var acc = document.getElementsByClassName("accordion");
		var i;

		for (i = 0; i < acc.length; i++) {
		  acc[i].addEventListener("click", function() {
		    this.classList.toggle("active");
		    var panel = this.nextElementSibling;
		    if (panel.style.maxHeight){
		      panel.style.maxHeight = null;
		    } else {
		      panel.style.maxHeight = panel.scrollHeight + "px";
		    } 
		  });
		}
	</script>

  </body>

</html>
