<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SPIRIT</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/scrolling-nav.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-success bg-white fixed-top" id="mainNav" style="border-bottom: 2px solid #0a8fab">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/"><img src="static/img/spirit.png" width="17.8%"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>     

    <section id="faq">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2 class="font-weight-light text-dark" style="font-size: 50px; text-align: left; line-height: 200%">SPIRIT Study</h2>
      <button class="accordion font-weight-light" style="font-size: 17px">What is the purpose of the SPIRIT Study?</button>
      <div class="panel">
        <p class=lead style="color:black; font-size: 14px; line-height: 190%">The purpose of the SPIRIT Study is to see if the investigational medicine, relugolix, used in combination with the female hormones, estradiol and norethindrone acetate, taken together by mouth, is safe and reduces the pain associated with endometriosis.</p>
      </div>
      <button class="accordion font-weight-light" style="font-size: 17px">How long is the SPIRIT Study?</button>
			<div class="panel">
			  <p class=lead style="color:black; font-size: 14px; line-height: 190%">The SPIRIT Study will last for about 8-9 months for each participant. This includes up to 2 months for screening, 24 weeks of treatment and a follow up visit after you have finished treatment. About 10 office visits are required in the initial study. Extra visits may be needed in the beginning while you are being evaluated for participation.<br>
        After you have completed the SPIRIT Study you may qualify for an extension study that lasts for an additional 6 months. In this study, there is no placebo group and all participants receive the investigational medicine. The study staff at the clinical site can give you more information.</p>
			</div>
			<button class="accordion font-weight-light" style="font-size: 17px">Where will the SPIRIT Study be conducted?</button>
			<div class="panel">
			  <p class=lead style="color:black; font-size: 14px; line-height: 190%">The SPIRIT Study will be performed in a doctor’s office, research center or hospital.</p>
			</div>
			<button class="accordion font-weight-light" style="font-size: 17px">Who is the sponsor of the SPIRIT Study?</button>
			<div class="panel">
			  <p class=lead style="color:black; font-size: 14px; line-height: 190%">The sponsor is <a href="https://www.myovant.com">Myovant Sciences</a>, a women’s health company that develops medicines.</p>
			</div>
      <button class="accordion font-weight-light" style="font-size: 17px">What is an investigational medicine?</button>
      <div class="panel">
        <p class=lead style="color:black; font-size: 14px; line-height: 190%">An investigational medicine or drug is one that is not approved by a regulatory authority, like the FDA.</p>
      </div>
      <button class="accordion font-weight-light" style="font-size: 17px">What is the investigational medicine in the SPIRIT Study?</button>
      <div class="panel">
        <p class=lead style="color:black; font-size: 14px; line-height: 190%">There are 2 active investigational medicines used together in the SPIRIT Study. <br>
        Relugolix: The investigational medicine, relugolix, is taken by mouth and lowers the amount of estrogen made by the ovaries in your body. Too much estrogen can make endometriosis worse. Lowering the estrogen and stopping the cycling of hormones may help improve endometriosis. <br>
        Estradiol and Norethindrone acetate: The female hormone estradiol is a type of estrogen and the female hormone norethindrone acetate is a type of progesterone. Estrogen and progesterone are hormones normally made by a woman’s body. These hormones help control the menstrual cycle and menstrual periods. These hormones also support bone health. The doses being used in the SPIRIT Study have been on the market for over 20 years for the treatment of hot flashes and for the prevention of osteoporosis (thinning or weakening of the bones) that can happen after menopause. The use of the FDA-approved low-dose estradiol (estrogen) and norethindrone acetate (progesterone) with relugolix to treat patients with endometriosis-associated pain is investigational. <br>
        NOTE: The combination of relugolix with these female hormones is being tested to see if it gives your body enough female hormones to support bone health while controlling your endometriosis.</p>
      </div>
      <button class="accordion font-weight-light" style="font-size: 17px">What is a placebo and is a placebo used in this study?</button>
      <div class="panel">
        <p class=lead style="color:black; font-size: 14px; line-height: 190%">A placebo looks like the investigational medicine but has no active medicine in it. There is a 1 in 3 chance that you may receive placebo in the SPIRIT Study.</p>
      </div>
      <button class="accordion font-weight-light" style="font-size: 17px">Won’t the hormones make my endometriosis worse?</button>
      <div class="panel">
        <p class=lead style="color:black; font-size: 14px; line-height: 190%">It is the rise and fall of hormones during the menstrual cycle that causes the tissue of endometriosis, outside the uterus, to thicken, breakdown, and bleed. A steady level of hormones, such as in birth control pills, prevents the cycling of hormones and can slow endometrial tissue growth and prevent new implants of endometrial tissue. In the SPIRIT Study, hormones are added to relugolix, a medicine that lowers hormone levels, in order to “add back” the low level of hormones needed for bone health. This combination is being tested to see if it reduces the cycling of hormones as well. The SPIRIT Study will test whether this combination is safe and effective in the treatment of pain associated with endometriosis.</p>
      </div>
      <button class="accordion font-weight-light" style="font-size: 17px">I already tried hormones/birth control pills and that didn’t work.</button>
      <div class="panel">
        <p class=lead style="color:black; font-size: 14px; line-height: 190%">Sometimes, a steady level of hormones, such as in birth control pills, is not enough to treat endometriosis. Please ask your health care provider for additional information.</p>
      </div>
      <button class="accordion font-weight-light" style="font-size: 17px">How will I know what treatment I am receiving in the study?</button>
      <div class="panel">
        <p class=lead style="color:black; font-size: 14px; line-height: 190%">This is a blinded study. Blinded means that neither you, nor the study doctor and her/his study staff at the clinical site or the sponsor know which treatment group you are in during the study. You can find out which treatment group you were in at the end of the study. <br>
        There are 3 different blinded treatment groups in the study. <br>
        If you are eligible and enroll in the SPIRIT Study, a computer will put participants into 1 of 3 different treatment groups by chance (like flipping a coin). Neither you nor the study doctor can choose a group. You have a 2 in 3 chance of receiving an investigational medicine and a 1 in 3 chance of receiving an inactive pill (placebo). <br>
        After you have completed the SPIRIT Study you may qualify for an extension study that lasts for an additional 6 months. During the extension study, all patients receive open label (“active”) treatment with relugolix in combination with the low doses of the female hormones, estradiol and norethindrone acetate. The study staff at the clinical site can give you more information about this extension study.</p>
      </div>
      <button class="accordion font-weight-light" style="font-size: 17px">Can I take pain medication during the study?</button>
      <div class="panel">
        <p class=lead style="color:black; font-size: 14px; line-height: 190%">As needed, you may take pain medications approved for use during the study. Your study site will provide the pain medications for you at no cost. You can review these pain medications with the study team.</p>
      </div>
      <button class="accordion font-weight-light" style="font-size: 17px">Why is the SPIRIT Study being conducted?</button>
      <div class="panel">
        <p class=lead style="color:black; font-size: 14px; line-height: 190%">As you know, there are limited treatment options for endometriosis. The SPIRIT Study is building on current medical knowledge to develop a potential new oral treatment option for patients with endometriosis. <br>
        Treatment options include oral medicines, injectable medicines, and surgery, all of which have pros and cons. <br>
        Relugolix in combination with estradiol and norethindrone acetate is an investigational medicine being evaluated to see whether this combination is safe and reduces the pain associated with endometriosis. This combination is taken by mouth (oral). If proven safe and effective in the SPIRIT Study, this would offer an additional option for long-term treatment with a medicine you can take by mouth for women with pain associated with endometriosis.</p>
      </div>
      <button class="accordion font-weight-light" style="font-size: 17px">Do I have to use birth control during the study?</button>
      <div class="panel">
        <p class=lead style="color:black; font-size: 14px; line-height: 190%">If you could get pregnant and are sexually active with a male partner who has not been sterilized, you will need to use an acceptable method of birth control that doesn’t include hormones during the study. The study staff at the clinical site will go over these with you.</p>
      </div>
      <button class="accordion font-weight-light" style="font-size: 17px">Will being in the study help me get pregnant later/treat my infertility?</button>
      <div class="panel">
        <p class=lead style="color:black; font-size: 14px; line-height: 190%">The SPIRIT Study is not testing the effect of treatment on fertility.</p>
      </div>
      <button class="accordion font-weight-light" style="font-size: 17px">How many people have taken relugolix so far?</button>
      <div class="panel">
        <p class=lead style="color:black; font-size: 14px; line-height: 190%">More than 1,600 people have taken relugolix in other clinical research studies, including more than 300 women with endometriosis and more than 350 women with uterine fibroids. The SPIRIT Study is actively enrolling and 1,200 women are planned to participate at more than 300 research centers around the world, including the United States, Europe, South America, Australia, New Zealand, and South Africa. The SPIRIT Study is part of a broad development program for relugolix that includes ongoing studies in women with uterine fibroids.</p>
      </div>
      <button class="accordion font-weight-light" style="font-size: 17px">How many people have taken estradiol and norethindrone acetate so far?</button>
      <div class="panel">
        <p class=lead style="color:black; font-size: 14px; line-height: 190%">The combination of estradiol and norethindrone acetate, at the doses being used in the SPIRIT Study (estradiol 1.0 mg and norethindrone acetate 0.5 mg), has been on the market for over 20 years for the treatment of hot flashes and for the prevention of osteoporosis (thinning or weakening of the bones) that can happen after menopause. However, using these female hormones with relugolix to treat patients with endometriosis-associated pain is investigational.</p>
      </div>
      
          </div>  
        </div>
      </div>
    </section>      

    <!-- Footer -->
    <footer class="py-5" style="background-color: #21252917">
      <center>
      <div class="container">
        <img src="static/img/myovant.png" style="padding-top: 30px">
        <div class="text-center">
        <blockquote class="blockquote text-dark font-weight-light" style = "font-size:15px">
        <p class="mb-1">The site is intended for residents of the United States.</p>
        <p>Copyright &copy; 2017 Myovant Sciences, Inc. All rights reserved.</p>
    </blockquote>
    </div>
    <a href="https://static1.squarespace.com/static/5988d80737c581a364624098/t/5b6a0062aa4a993b18cb693b/1533673571298/myovant+privacy+statement.pdf" target="_blank"><p class="mb-1 text-dark font-weight-light">Privacy</p></a>
      </div>
      </center>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="static/js/scrolling-nav.js"></script>

    <script>
		var acc = document.getElementsByClassName("accordion");
		var i;

		for (i = 0; i < acc.length; i++) {
		  acc[i].addEventListener("click", function() {
		    this.classList.toggle("active");
		    var panel = this.nextElementSibling;
		    if (panel.style.maxHeight){
		      panel.style.maxHeight = null;
		    } else {
		      panel.style.maxHeight = panel.scrollHeight + "px";
		    } 
		  });
		}
	</script>

  </body>

</html>
